.navbar-dark{
    background-image: linear-gradient(rgb(245, 242, 235), rgb(72,169,167));
    border-bottom: 1px inset gray;
    font-family: 'Muli', sans-serif;
}

.navbar .nav-link{
    color: rgb(84, 57, 2) !important;
}

.navbar .nav-link:hover{
    color: white !important;
}

.jumbotron{
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/45/13/education-background-vector-10664513.jpg");
    height: 260px;
    .jumbocont{
        background-color: rgba(71,169,175,0.8);
        border-radius: 25px;
        height: 160px;
    }
    h1{
        color: white !important;
    }
    p{
        color: yellow !important;
        font-weight: 600;
    }
}

summary{
    font-weight: 700;
    color: black
}

.facultycontent{
    background-image: url("https://st.depositphotos.com/2099371/2170/v/450/depositphotos_21703913-stock-illustration-seamless-pattern-with-circles-and.jpg");
    border-radius: 25px;
    padding: 10px;
    border: 2px solid yellow;
}

.FirstT{
    margin-bottom: 15px;
    img{
        background-color: grey;
        border-radius: 50%;
        height: 245px;
        width: 225px;
        margin-left: 16%;
        border: 3px solid rgb(236,77,129);
    }
    h2{
        color: white;
        margin-left: 10px;
        text-align: center;
        background-color: rgba(255,0,0,0.8);
        border-radius: 25px;
    }
}

.FirstT2{
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 15px;
    img{
        width: 17%;
        margin-left: 40%;
    }
    .content{
        background-color: rgba(249,194,50,0.9);
        padding: 20px;
        border-radius: 20px;
        h2{
            color: whitesmoke;
            line-height: 45px;
        }
        h4{
            color: rgb(151,56,138);
            line-height: 45px;
        }
    }
}

.SecondT{
    margin-bottom: 15px;
    img{
        background-color: grey;
        border-radius: 50%;
        height: 245px;
        width: 225px;
        margin-left: 16%;
        border: 3px solid rgb(236,77,129);
    }
    h2{
        color: white;
        text-align: center;
        background-color: rgba(255,0,0,0.8);
        border-radius: 25px;
    }
}

.SecondT2{
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 15px;
    img{
        width: 17%;
        margin-left: 40%;
    }
    .content{
        background-color: rgba(249,194,50,0.9);
        padding: 20px;
        border-radius: 20px;
        h2{
            color: whitesmoke;
            line-height: 45px;
        }
        h4{
            color: rgb(151,56,138);
            line-height: 45px;
        }
    }
}

.ThirdT{
    margin-bottom: 15px;
    img{
        background-color: grey;
        border-radius: 50%;
        height: 245px;
        width: 225px;
        margin-left: 18%;
        border: 3px solid rgb(236,77,129);
    }
    h2{
        color: white;
        margin-left: 15px;
        text-align: center;
        background-color: rgba(255,0,0,0.8);
        border-radius: 25px;
    }
}

.ThirdT2{
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 15px;
    img{
        width: 17%;
        margin-left: 40%;
    }
    .content{
        background-color: rgba(249,194,50,0.9);
        padding: 20px;
        border-radius: 20px;
        h2{
            color: whitesmoke;
            line-height: 45px;
        }
        h4{
            color: rgb(151,56,138);
            line-height: 45px;
        }
    }
}

.FourthT{
    margin-bottom: 15px;
    img{
        background-color: grey;
        border-radius: 50%;
        height: 245px;
        width: 225px;
        margin-left: 18%;
        border: 3px solid rgb(236,77,129);
    }
    h2{
        color: white;
        text-align: center;
        background-color: rgba(255,0,0,0.8);
        border-radius: 25px;
        margin-left: 20px;
    }
}

.FourthT2{
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 15px;
    img{
        width: 17%;
        margin-left: 40%;
    }
    .content{
        background-color: rgba(249,194,50,0.9);
        padding: 20px;
        border-radius: 20px;
        h2{
            color: whitesmoke;
            line-height: 45px;
        }
        h4{
            color: rgb(151,56,138);
            line-height: 45px;
        }
    }
}

.FifthT{
    margin-bottom: 15px;
    img{
        background-color: grey;
        border-radius: 50%;
        height: 245px;
        width: 225px;
        margin-left: 18%;
        border: 3px solid rgb(236,77,129);
    }
    h2{
        text-align: center;
        background-color: rgba(255,0,0,0.8);
        border-radius: 25px;
        color: white;
        margin-left: 30px;
    }
}

.FifthT2{
    padding: 4%;
    border-radius: 25px;
    margin-bottom: 15px;
    img{
        width: 17%;
        margin-left: 40%;
    }
    .content{
        background-color: rgba(249,194,50,0.9);
        padding: 20px;
        border-radius: 20px;
        h2{
            color: whitesmoke;
            line-height: 45px;
        }
        h4{
            color: rgb(151,56,138);
            line-height: 45px;
        }
    }
}
.row{
    margin-bottom: 25px;
}


@media only screen and (max-width: 650px){

    body{
        background-image: stretch !important;
        background-repeat: repeat !important;
    }

    .jumbotron{
        margin-top: 35px;
        height: 220px;
        .jumbocont{
            height: 155px;
        }
    }

    .my-custom-scrollbar {
        position: relative;
        height: 27em;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .FirstT{

        img{
            margin-left: 18%;
            margin-top: 3%;
        }
    }

    .FirstT2{

        h2{
            border-radius: 15px 15px 15px 15px;
        }
    }

    .SecondT{

        h2{
            margin-left: 2%;
        }
        img{
            margin-left: 18%;
            margin-top: 3%;
        }
    }

    .ThirdT{

        h2{
            margin-left: 2%;
        }
        img{
            margin-left: 18%;
            margin-top: 3%;
        }
    }

    .FourthT{

        h2{
            margin-left: 2%;
        }
        img{
            margin-left: 18%;
            margin-top: 3%;
        }
    }

    .FifthT{

        h2{
            margin-left: 2%;
        }
        img{
            margin-left: 18%;
            margin-top: 3%;
        }
    }

}